.mainContent{
	padding-right:0%;
	display:grid;
	position:relative;
	grid-template-columns:70% 23%;
	grid-gap:2%
}
.mainText{
	background-color:grey;
	position:relative;
}
.sideBar{
	background-color:pink;
	position:relative;
}
body{
    font-size:12px;
}
.menuBarItem{
    color:white;
}
