{% extends 'TeraChess/html/template.html' %}
{% block content %}
    <br>
    {% if request.user.is_authenticated %}
        <p style="font-size:30px">name:{{ request.user.username }}</p>
        <br>
    {% endif %}

    <br>
    {% if not request.user.is_authenticated %}
        <br>
        <div style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
            <p style="font-size:20px">You are not logged in. Please log in and return to this page.</p><br>
            <img src="https://cdn3.iconfinder.com/data/icons/pictomisc/100/sadface-512.png">
        </div>
    {% endif %}

{% endblock %}
{% block bottom %} bottom banner {% endblock %}