{% extends 'TeraChess/html/template.html' %}

{% block content %}
{% if request.user.is_authenticated %}
{% if profile.pieceset_set %}
    {% for piece_set in all_pieces %}
        <a  href = "/TeraChess/PieceSet/{{ piece_set.id }}/">
            {{ piece_set.name }} </a> --------------
        <a href = "/TeraChess/update/{{ piece_set.id }}"> Make {{ piece_set.name }} your main board</a> <br>
    {% endfor %}
    <br>
{% else %}
    there are no pieces to display<br>
{% endif %}
<br>
    <a href="/TeraChess/Piece/add/">Add a Piece to an existing Piece-Set</a> <br>
    <a href="/TeraChess/PieceSet/add/">Create a new Piece-Set</a><br>
    <a href="/TeraChess/DeletePieceSet">Delete an existing Piece-Set</a>
{% endif %}

{% if not request.user.is_authenticated %}
    You are not logged in. Please log in and return to this page.
{% endif %}

{% endblock %}
