{% extends 'TeraChess/html/template.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'TeraChess/home.css' %}"/>
<div class="contentGrid">
    <div class="mainText">
        Welcome {{ request.user.username }} to our humble website!<br>
        {% if request.user.is_authenticated %}

        {% if request.user.profile.pieceset_set %}
        It seems you have already taken the time to create a custom Chess Board for yourself. SUPERCOOL!. <br>
        {% endif %}

        {% if not request.user.profile.pieceset_set %}
        It appears that you have not make a custom Chess Board yet. Head on over to the <b> COLLECTIONS</b>
        tab to get started
        {% endif %}
        {% endif %}

        {% if not request.user.is_authenticated %}
        Looks like you are not logged in. <br>
        Feel free to either log in or make an account to start the TeraChess experience<br>
        {% endif %}

        Dont know how to play TeraChess? Head on to the learn section to learn to Play!<br>
        Looking for a match? Find a friend and both SMASH that play button to start!<br>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <!--WhitePawn-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4aa8-0881bb08-4f6e-47e7-8454-499666e0e6d2.png">
         <!--WhiteRook-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4aan-0b6b5da0-2c40-4c56-8287-5bb6c3926564.png">
         <!--Whiteknight-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4aa2-29a2d0ab-e42d-4d77-b20a-6b17d1123086.png">
         <!--Whitebishop-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4a9p-3c43553f-4750-42b2-a0ca-1abfe62e01ea.png">
         <!--Whitequeen-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4aaf-34f2e9af-9e7f-4799-8beb-0c6133070567.png">
        <!--Whiteking-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4a9y-c85e9982-acf6-4900-af53-0f73bc72e0d4.png">

        <br>

        <!--BlackPawn-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4abr-4aeaff4c-bc4d-4597-b9ff-5143969e3ca6.png">
        <!--BlackRook-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4a9k-7be8f2b9-a9ff-49e7-b003-395d0ae8c395.png">
        <!--BlackKnight-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4abj-08d5ce67-54c7-4b0d-be27-b3e283802ab7.png">
        <!--BlackBishop-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4aau-8482209a-0e7c-4d2f-b263-407be4aa27c7.png">
        <!--Blackqueen-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4a9c-9ecacc9c-5255-476a-a552-740d334ab964.png">
        <!--Blackking-->
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/3def23e8-e5d0-4ca5-b2ac-2066b83f14ad/dcu4aba-96a914ab-f8d2-4acc-8cbf-586b1f440d1f.png">
    </div>
    <div class="sideBar">
        Recent updates:<br>
        -V0.32: fixed the issue where as the ueen was now... you know what all piecess should not die to to a stiff breeze anymore<br>
        -V0.31: fixed the king dying on its own due to a stiff breeze<br>
        -V0.3: We finnally playtested the game... balance fixes... nough said.<br>
        -V0.21.1: Grammar corrections<br>
        -V0.21:Fixed collections suddenly disapearing, sorry bout that<br>
        -V0.2: First edition of the collection manager<br>
        -V0.12: Hotfix fixed the annoying elephant issue<br>
        -V0.11: hotfix fix pieces  not displaying<br>
        -V0.1: First Edition of terra chess, Barely working play.<br>

    </div>
</div>
</body>
{% endblock %}
</html>