{% extends 'TeraChess/html/template.html' %}
{% block content %}
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 800px 500px;
        }
        .grid-item {
        }
    </style>
    <div class="grid-container">
        <div class="grid-item">
            <img src="https://qph.fs.quoracdn.net/main-qimg-88ceb3e47f4ff1d81a182b6cb48c02c9" style="height:85%;width:85%;">
        </div>
        <div class="grid-item"><p style="font-size: 40px">"Git gud!" -Pro chessers</p></div>
    </div>

    <div><p>For actual tips &darr;</p></div>

    <br>

{% endblock %}